.welcome-container {
  text-align: center;
  margin-top: 20px;
}

.welcome-logo {
  width: 200px;
  height: 200px;
  animation: bob 3s infinite ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.welcome-logo:hover {
  transform: scale(1.1);
}

@keyframes bob {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}