/* How to add icons to the design system

1. Ask the team to share the Figma file with you so you can collaborate.

2. Icons should always use a 1.33px stroke width and be exported as a 16px square.
   Always convert the stroke/border into a solid shape before exporting.

3. To add an icon to the codebase, first import the 16x16px SVG file.

4. Add the icon to `icons.css` as a variable so it can be reused easily throughout the design system.

5. Update `app.css` and use the same icon variable you just created as a class.

Note:
The FreeMoCap design system uses icons as CSS background images.
To ensure icons are always consistent and reusable across the app, we define the variable in `app.css` as a background image.

Study the codebase HTML structure carefully. You will notice that whenever icons are used for buttons, we use the following class structure:

- `icon`
- `import-icon`
- `icon-size-16`

`icon` indicates that the HTML DOM element contains an icon.
`import-icon` defines the actual background image used by the app.
`icon-size-16` defines the icon size specified in the `app.css` design system.
*/
/* icons vars */
  :root { 
  --plus-icon: url("../assets/icons/plus_icon.svg");
  --checkUpdate-icon: url("../assets/icons/checkUpdate_icon.svg");
  --upToDate-icon: url("../assets/icons/upToDate-icon.svg");
  --updateAvailable-icon: url("../assets/icons/updateAvailable_icon.svg");
  --minus-icon: url("../assets/icons/minus_icon.svg");
  --close-icon: url("../assets/icons/close_icon.svg");
  --rotate-icon: url("../assets/icons/rotate_icon.svg");
  --pause-icon: url("../assets/icons/pause_icon.svg");
  --play-icon: url("../assets/icons/play_icon.svg");
  --scan-icon: url("../assets/icons/scan_icon.svg");
  --home-icon: url("../assets/icons/home_icon.svg");
  --clear-icon: url("../assets/icons/clear_icon.svg");
  --load-icon: url("../assets/icons/load_icon.svg");
  --live-icon: url("../assets/icons/live_icon.svg");
  --import-icon: url("../assets/icons/import-icon.svg");
  --importVideos-icon: url("../assets/icons/importVideos_icon.svg");
  --github-icon: url("../assets/icons/github_icon.svg");
  --externallink-icon: url("../assets/icons/externallink_icon.svg");
  --dropdown-icon: url("../assets/icons/dropdown_icon.svg");
  --stream-icon: url("../assets/icons/stream_icon.svg");
  --streaming-icon: url("../assets/icons/streaming_icon.svg");
  --calibrate-icon: url("../assets/icons/calibrate_icon.svg");
  --calibrated-icon: url("../assets/icons/calibrated_icon.svg");
  --camera-icon: url("../assets/icons/camera_icon.svg");
  --explainer-icon: url("../assets/icons/explainer_icon.svg");
  --expand-icon: url("../assets/icons/expand_icon.svg");
  --collapse-icon: url("../assets/icons/collapse_icon.svg");

  --processmocap-icon: url("../assets/icons/processmocap_icon.svg");
  --video-icon: url("../assets/icons/video_icon.svg");
  --record-icon: url("../assets/icons/record_icon.svg");
  --calibrate-icon: url("../assets/icons/calibrate_icon.svg");

  --learn-icon: url("../assets/icons/learn_icon.svg");
  --discord-icon: url("../assets/icons/discord_icon.svg");
  --connected-icon: url("../assets/icons/connected_icon.svg");
  --warning-icon: url("../assets/icons/warning_icon.svg");
  --loader-icon: url("../assets/icons/loader_icon.svg");
  --donate-icon: url("../assets/icons/donate_icon.svg");
  --subcat-icon: url("../assets/icons/subcat_icon.svg");
  --download-icon: url("../assets/icons/download_icon.svg");

  --settings-icon: url("../assets/icons/settings_icon.svg");
  --subfolder_icon: url("../assets/icons/subfolder_icon.svg");
  --addsubfolder_icon: url("../assets/icons/addsubfolder_icon.svg");
  --file_icon: url("../assets/icons/file_icon.svg");

  --importproject_icon: url("../assets/icons/importproject_icon.svg");
  --settings_icon: url("../assets/icons/settings_icon.svg");

    --grid4_icon: url("../assets/icons/grid4_icon.svg");
    --grid3_icon: url("../assets/icons/grid3_icon.svg");
    --grid2_icon: url("../assets/icons/grid2_icon.svg");
  }